<div class="card" [ngStyle]="!candidate.isUnlocked ?{'border': 'solid 1px red'} : {}">
    <div class="card-body position-relative">
        <div class="dropdown btn-pinned"> </div>
        <div class="Xmx-auto Xmb-3" style="vertical-align:middle;"> <img src="{{candidate.avatarFileName|avatar}}"
                alt="Candidate Picture" class="w-px-100 rounded-circle"> <span
                style="display:inline-block;padding-left:10px;vertical-align:middle;"> <span
                    style="font-size:18px;display:inline-block;">{{candidate.firstName}} {{candidate.lastName}}</span>
                <span style="font-size:15px;display:block;"> <a href="javascript:void(0)"
                        [routerLink]="candidate.profileUrl" class="btn btn-primary btn-sm"><i class="fa fa-video"></i>
                        Watch</a> <a href="javascript:void(0)" [routerLink]="candidate.resumeFileName"
                        class="btn btn-label-secondary btn-icon btn-sm proxy_view_resume ml-1"><i
                            class="fa fa-file-pdf"></i></a>
                    <span *ngIf="!candidate.isUnlocked" class="badge bg-label-danger text-end ml-1"><i
                            class="bx bx-time bx-spin"></i>{{candidate.unlockTimeLeft}} Hours
                        Left</span></span> </span> </div>
    </div>
</div>


<!-- <div class="card" [class.border-danger]="!candidate.isUnlocked">
  <div class="card-body position-relative">
    <div class="d-flex align-items-center mb-3">
      <img [src]="candidate.avatarFileName | avatar" alt="Candidate" class="rounded-circle me-3" width="100">
      <div>
        <div class="fw-bold fs-5">{{candidate.firstName}} {{candidate.lastName}}</div>
        <div class="mt-1">
          <a [routerLink]="candidate.profileUrl" class="btn btn-primary btn-sm me-1">
            <i class="fa fa-video"></i> Watch
          </a>
          <a [routerLink]="candidate.resumeFileName" class="btn btn-secondary btn-sm me-1">
            <i class="fa fa-file-pdf"></i>
          </a>
          <span *ngIf="!candidate.isUnlocked" class="badge bg-danger">
            <i class="bx bx-time bx-spin"></i> {{candidate.unlockTimeLeft}} Hours Left
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->
