
<app-commonclient [companyId]="companyId"></app-commonclient>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <hr class="p-0">
            <div class="row">
              <div class="col-md-6"> Default Recruiter:
                <div class="input-group w-px-400" role="group">
                  <p-dropdown [options]="recruiters" [(ngModel)]="recruitersAssignment.primaryRecruiterId"
                    [showClear]="true" placeholder="Select a name" optionLabel="recruiter" optionValue="recruiterId"
                    [style]="{'minWidth': '14rem' , 'height':' 2.8rem'}"></p-dropdown>
                  <button (click)="copyPrimaryRecruiters()"  pButton pRipple type="button" class="p-button-outlined"><i
                      class="bx bx-copy"></i></button>
                </div>
              </div>
              <div class="col-md-6"> Secondary Recruiter:
                <div class="input-group w-px-400" role="group">
                  <p-dropdown [options]="recruiters" [(ngModel)]="recruitersAssignment.secondaryRecruiterId"
                    [showClear]="true" placeholder="Select a name" optionLabel="recruiter" optionValue="recruiterId"
                    [style]="{'minWidth': '14rem' , 'height':' 2.8rem'}"></p-dropdown>
                  <button (click)="copySecondaryRecruiters()" pButton pRipple type="button" class="p-button-outlined"><i
                      class="bx bx-copy"></i></button>

                </div>
              </div>
            </div>

            <hr class="p-0">
            <div >
              <p-table *ngIf="!noRecord" #dtJob [value]="recruitersAssignment.requisitions" [lazy]="true"
              (onLazyLoad)="getJobDetails($event)" responsiveLayout="scroll" dataKey="requisitionId"
              styleClass="p-datatable-strip"
              [loading]="loading" 
              [globalFilterFields]="['requisitionId']">

              <ng-template pTemplate="header">
                <tr>
                  <th>
                    
                  </th>
                  <th>Job Title</th>
                  <th>Submitted On</th>
                  <th class="">Recruiters (Assigned Jobs)</th>
                </tr>
              </ng-template>


              <ng-template pTemplate="body" let-requisition>
                <tr>
                  <td>
                    <input type="checkbox" [disabled]="true" name="selected" [(ngModel)]="requisition.selected" />
                  </td>
                  <td>
                    <div class="d-flex flex-row gap-2">
                    <i class="bx bxs-video" *ngIf="requisition.campaignType=='Video'"></i>
                    <i class="bx bxs-calendar" *ngIf="requisition.campaignType=='Interview'"></i>
                    <i class="bx bxs-detail" *ngIf="requisition.campaignType=='Resume'"></i>
                      <div class="d-flex flex-column">
                        {{requisition.title}}
                        <span class="small text-muted">{{requisition.jobCategoryName}} | <span class="text-warning"><i
                          class='pi pi-user bx-xs'></i> <small> x {{requisition.profilesRequired}}</small></span> </span>
                      </div>
                    </div>
                  </td>
                  <td>{{requisition.submittedOn | date : 'dd/MM/yyyy'}}</td>
                  <td>
                    <p-multiSelect display="chip" [style]="{'minWidth': '18rem' , 'height':' 2.8rem'}" name="recruiters" 
                      placeholder="Not Selected Yet" appendTo="body" (onChange)="setRecruiters($event,requisition)" [(ngModel)]="requisition.recruiters" [options]="recruiters"
                      optionLabel="recruiter"></p-multiSelect>
                  </td>
                </tr>


              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <th colspan="10">
                      <div class="float-right mt-3">
                        

                      </div>
                  </th>
                </tr>
              </ng-template>

              </p-table>
            </div>
            <div class="text-center" *ngIf="noRecord">
              <h2>No Requisitions Found</h2>
            </div>
            <br><br><br>
            <div class="col-12 text-right">
              <p-button (onClick)="saveReq(recruitersAssignment)" type="button">Submit</p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>