:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #007bff;
  --bs-pink: #e83e8c;
  --bs-red: #ff3e1d;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffab00;
  --bs-green: #71dd37;
  --bs-teal: #20c997;
  --bs-cyan: #03c3ec;
  --bs-white: #fff;
  --bs-gray: rgba(67, 89, 113, 0.6);
  --bs-gray-dark: rgba(67, 89, 113, 0.8);
  --bs-gray-25: rgba(67, 89, 113, 0.025);
  --bs-gray-50: rgba(67, 89, 113, 0.05);
  --bs-primary: #007bff;
  --bs-secondary: #8592a3;
  --bs-success: #71dd37;
  --bs-info: #03c3ec;
  --bs-warning: #ffab00;
  --bs-danger: #ff3e1d;
  --bs-light: #fcfdfd;
  --bs-dark: #233446;
  --bs-gray: rgba(67, 89, 113, 0.1);
  --bs-primary-rgb: 105, 108, 255;
  --bs-secondary-rgb: 133, 146, 163;
  --bs-success-rgb: 122, 189, 87;
  --bs-info-rgb: 3, 195, 236;
  --bs-warning-rgb: 255, 171, 0;
  --bs-danger-rgb: 255, 62, 29;
  --bs-light-rgb: 252, 253, 253;
  --bs-dark-rgb: 35, 52, 70;
  --bs-gray-rgb: 67, 89, 113;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 67, 89, 113;
  --bs-body-color-rgb: 105, 122, 141;
  --bs-body-bg-rgb: 245, 245, 249;
  --bs-font-sans-serif: "Public Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-root-font-size: 16px;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.53;
  --bs-body-color: #697a8d;
  --bs-body-bg: #f5f5f9;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-size: var(--bs-root-font-size);
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.chat {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    list-style: none;
  }
  .chat::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 1px;
    border: 0;
    /*border-left: 1px solid #d9dee3;*/
    content: "";
  }
  .chat .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .chat .chat-header > *:first-child {
    margin-right: 0.5rem;
  }
  .chat .chat-end-indicator {
    position: absolute;
    bottom: -1.35rem;
    left: -0.65rem;
  }
  .chat .chat-end-indicator i {
    font-size: 1.5rem;
    color: #d9dee3;
  }
  .chat .chat-label {
    position: relative;
    z-index: 2;
    display: block;
    text-align: left;
    margin-left: -1.5rem;
    margin-bottom: 1rem;
  }
  .chat.chat-solid:before {
    border-style: solid;
  }
  .chat.chat-dotted:before {
    border-style: dotted;
  }
  .chat.chat-dashed:before {
    border-style: dashed;
  }
  .chat.chat-hidden:before {
    border-style: none;
  }
  .chat .chat-item {
    position: relative;
    padding-left: 3rem;
  }
  .chat .chat-item .chat-event {
    position: relative;
    top: -1rem;
    width: 100%;
    min-height: 4rem;
    background-color: #fff;
    border-radius: 0.375rem;
    padding: 1.25rem 1.5rem;
  }
  .chat .chat-item .chat-event:before {
    position: absolute;
    top: 0.75rem;
    left: 32px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 1rem solid;
    border-left: 0 solid;
    border-bottom: 1rem solid transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    margin-left: -3rem;
    content: "";
  }
  .chat .chat-item .chat-event:after {
    position: absolute;
    top: 0.75rem;
    left: -17px;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 1rem solid;
    border-left: 0 solid;
    border-bottom: 1rem solid transparent;
    border-left-color: #fff;
    border-right-color: #d9dee3;
    z-index: -1;
    content: "";
  }
  .chat .chat-item .chat-event.chat-event-shadow {
    box-shadow: 0 0.5rem 1rem rgba(67, 89, 113, 0.075) !important;
  }
  .chat .chat-item .chat-event .chat-event-time {
    position: absolute;
    top: 1.2rem;
    font-size: 0.85rem;
    color: #a1acb8;
  }
  .chat .chat-item .chat-indicator {
    position: absolute;
    left: -0.6875rem;
    top: 0;
    z-index: 2;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border-radius: 50%;
    /*border: 2px solid #007bff;
    background-color: #f5f5f9 !important;*/
  }
  .chat .chat-item .chat-indicator i {
    color: #007bff;
    font-size: 0.85rem;
    vertical-align: baseline;
  }
  .chat .chat-item .chat-point {
    position: absolute;
    left: -0.312rem;
    top: 0;
    z-index: 2;
    display: block;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color: #007bff;
  }
  .chat .chat-item.chat-item-transparent .chat-event {
    top: -1.4rem;
    background-color: transparent;
  }
  html:not([dir="rtl"])
    .chat
    .chat-item.chat-item-transparent
    .chat-event {
    padding-left: 0;
  }
  .chat
    .chat-item.chat-item-transparent
    .chat-event.chat-event-shadow {
    padding-left: 2rem;
  }
  .chat .chat-item.chat-item-transparent .chat-event:before {
    display: none;
  }
  .chat.chat-center:before {
    left: 50%;
  }
  .chat.chat-center:after {
    left: 50%;
    margin-left: -0.55rem;
  }
  .chat.chat-center .chat-end-indicator {
    bottom: -1.4rem;
    left: 50%;
    margin-left: 0.55rem;
  }
  .chat.chat-center .chat-label {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    clear: left;
  }
  .chat.chat-center .chat-label + .chat-item {
    margin-top: 2rem;
  }
  .chat.chat-center .chat-item {
    width: 50%;
    clear: both;
  }
  .chat.chat-center .chat-item.chat-item-left,
  .chat.chat-center
    .chat-item:nth-of-type(odd):not(.chat-item-left):not(.chat-item-right) {
    float: left;
    padding-left: 0;
    padding-right: 3rem;
  }
  .chat.chat-center
    .chat-item.chat-item-left
    .chat-event
    .chat-event-time,
  .chat.chat-center
    .chat-item:nth-of-type(odd):not(.chat-item-left):not(.chat-item-right)
    .chat-event
    .chat-event-time {
    right: -9.5rem;
  }
  .chat.chat-center
    .chat-item.chat-item-left
    .chat-event:before,
  .chat.chat-center
    .chat-item:nth-of-type(odd):not(.chat-item-left):not(.chat-item-right)
    .chat-event:before {
    right: -15px;
    left: auto;
    border-left-width: 16px;
    border-right-width: 0;
  }
  .chat.chat-center .chat-item.chat-item-left .chat-point,
  .chat.chat-center
    .chat-item:nth-of-type(odd):not(.chat-item-left):not(.chat-item-right)
    .chat-point {
    left: 100%;
  }
  .chat.chat-center .chat-item.chat-item-right,
  .chat.chat-center
    .chat-item:nth-of-type(even):not(.chat-item-left):not(.chat-item-right) {
    float: right;
  }
  .chat.chat-center
    .chat-item.chat-item-right
    .chat-event-time,
  .chat.chat-center
    .chat-item:nth-of-type(even):not(.chat-item-left):not(.chat-item-right)
    .chat-event-time {
    left: -9.5rem;
  }
  .chat.chat-center .chat-item.chat-item-right .chat-point,
  .chat.chat-center
    .chat-item:nth-of-type(even):not(.chat-item-left):not(.chat-item-right)
    .chat-point {
    left: 0;
  }
  .chat.chat-center .chat-item .chat-point {
    left: 50%;
    margin-left: -0.6875rem;
  }
  .chat.chat-center .chat-item .chat-point-indicator {
    left: 50%;
    margin-left: -0.3125rem;
  }
  [dir="rtl"] .chat:not(.chat-center):before {
    right: -1px;
    left: auto;
  }
  [dir="rtl"] .chat:not(.chat-center):after {
    left: auto;
    margin-right: -0.65rem;
  }
  [dir="rtl"] .chat:not(.chat-center) .chat-end-indicator {
    left: auto;
    right: -0.75rem;
  }
  [dir="rtl"] .chat:not(.chat-center) .chat-label {
    text-align: right;
    margin-right: -1.5rem;
  }
  [dir="rtl"] .chat:not(.chat-center) .chat-item {
    padding-left: 0;
    padding-right: 3rem;
  }
  [dir="rtl"]
    .chat:not(.chat-center)
    .chat-item
    .chat-event:before {
    right: -1rem;
    left: auto;
    border-left-width: 1rem;
    border-right-width: 0;
  }
  [dir="rtl"]
    .chat:not(.chat-center)
    .chat-item.chat-item-transparent
    .chat-event {
    padding-right: 0;
  }
  [dir="rtl"] .chat:not(.chat-center) .chat-item .chat-point {
    right: -0.375rem;
    left: auto;
  }
  [dir="rtl"] .chat:not(.chat-center) .chat-item .chat-indicator {
    right: -0.75rem;
    left: auto;
  }
  @media (min-width: 768px) {
    .chat.chat-center
      .chat-item.chat-item-left
      .chat-indicator,
    .chat.chat-center
      .chat-item:nth-of-type(odd):not(.chat-item-left):not(.chat-item-right)
      .chat-indicator {
      left: calc(100% - (1.5rem / 2));
    }
    .chat.chat-center
      .chat-item.chat-item-left
      .chat-event:after,
    .chat.chat-center
      .chat-item:nth-of-type(odd):not(.chat-item-left):not(.chat-item-right)
      .chat-event:after {
      transform: rotate(180deg);
      right: -16px;
      left: auto;
    }
  }
  @media (max-width: 767.98px) {
    .chat.chat-center:before {
      left: 0;
    }
    .chat.chat-center:after {
      left: 0;
    }
    .chat.chat-center .chat-end-indicator {
      left: -2px;
    }
    .chat.chat-center .chat-label {
      text-align: left;
    }
    .chat.chat-center .chat-item {
      float: left !important;
      width: 100%;
      padding-left: 3rem !important;
      padding-right: 0 !important;
    }
    .chat.chat-center .chat-item .chat-event:before {
      right: 100% !important;
      border-right-width: 1rem !important;
      border-left-width: 0 !important;
    }
    .chat.chat-center
      .chat-item
      .chat-event
      .chat-event-time {
      top: -1.7rem;
      left: 0 !important;
      right: auto !important;
    }
    .chat.chat-center .chat-item .chat-point {
      left: -0.7rem !important;
      margin-left: 0 !important;
    }
    .chat.chat-center .chat-item .chat-point-indicator {
      left: 0 !important;
      margin-left: -0.3125rem !important;
    }
    [dir="rtl"] .chat.chat-center:before {
      left: auto;
      right: 0;
    }
    [dir="rtl"] .chat.chat-center:after {
      right: -0.55rem;
      left: auto;
    }
    [dir="rtl"] .chat.chat-center .chat-end-indicator {
      left: auto;
      right: -12px;
    }
    [dir="rtl"] .chat.chat-center .chat-label {
      text-align: right;
    }
    [dir="rtl"] .chat.chat-center .chat-item {
      float: right !important;
      width: 100%;
      padding-right: 3rem !important;
      padding-left: 0 !important;
    }
    [dir="rtl"] .chat.chat-center .chat-item .chat-event:before {
      left: 100% !important;
      right: -1rem !important;
      border-left-width: 1rem !important;
      border-right-width: 0 !important;
    }
    [dir="rtl"] .chat.chat-center .chat-item .chat-event:after {
      transform: rotate(180deg);
      right: -17px;
      left: auto;
    }
    [dir="rtl"]
      .chat.chat-center
      .chat-item
      .chat-event
      .chat-event-time {
      top: -1.2rem;
      right: 0 !important;
      left: auto !important;
    }
    [dir="rtl"] .chat.chat-center .chat-item .chat-point {
      right: -0.7rem !important;
      margin-right: 0 !important;
    }
    [dir="rtl"]
      .chat.chat-center
      .chat-item
      .chat-point-indicator {
      right: 0 !important;
      margin-right: -0.3125rem !important;
    }
  }
  @media (max-width: 767.98px) {
    [dir="rtl"] .chat .chat-item .chat-indicator {
      left: auto;
      right: -0.6875rem;
    }
  }
  @media (max-width: 575.98px) {
    .chat .chat-header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .chat .chat-item-secondary .chat-event {
    background-color: rgba(133, 146, 163, 0.1);
  }
  .chat .chat-item-secondary .chat-event:before {
    border-left-color: rgba(133, 146, 163, 0.1) !important;
    border-right-color: rgba(133, 146, 163, 0.1) !important;
  }
  .chat .chat-point-secondary {
    background-color: #8592a3 !important;
    box-shadow: 0 0 0 0.1875rem rgba(133, 146, 163, 0.16);
  }
  .chat .chat-indicator-secondary {
    border-color: #8592a3 !important;
  }
  .chat .chat-indicator-secondary i {
    color: #8592a3 !important;
  }
  .chat .chat-item-success .chat-event {
    background-color: rgba(122, 189, 87, 0.1);
  }
  .chat .chat-item-success .chat-event:before {
    border-left-color: rgba(122, 189, 87, 0.1) !important;
    border-right-color: rgba(122, 189, 87, 0.1) !important;
  }
  .chat .chat-point-success {
    background-color: #71dd37 !important;
    box-shadow: 0 0 0 0.1875rem rgba(122, 189, 87, 0.16);
  }
  .chat .chat-indicator-success {
    border-color: #71dd37 !important;
  }
  .chat .chat-indicator-success i {
    color: #71dd37 !important;
  }
  .chat .chat-item-info .chat-event {
    background-color: rgba(3, 195, 236, 0.1);
  }
  .chat .chat-item-info .chat-event:before {
    border-left-color: rgba(3, 195, 236, 0.1) !important;
    border-right-color: rgba(3, 195, 236, 0.1) !important;
  }
  .chat .chat-point-info {
    background-color: #03c3ec !important;
    box-shadow: 0 0 0 0.1875rem rgba(3, 195, 236, 0.16);
  }
  .chat .chat-indicator-info {
    border-color: #03c3ec !important;
  }
  .chat .chat-indicator-info i {
    color: #03c3ec !important;
  }
  .chat .chat-item-warning .chat-event {
    background-color: rgba(255, 171, 0, 0.1);
  }
  .chat .chat-item-warning .chat-event:before {
    border-left-color: rgba(255, 171, 0, 0.1) !important;
    border-right-color: rgba(255, 171, 0, 0.1) !important;
  }
  .chat .chat-point-warning {
    background-color: #ffab00 !important;
    box-shadow: 0 0 0 0.1875rem rgba(255, 171, 0, 0.16);
  }
  .chat .chat-indicator-warning {
    border-color: #ffab00 !important;
  }
  .chat .chat-indicator-warning i {
    color: #ffab00 !important;
  }
  .chat .chat-item-danger .chat-event {
    background-color: rgba(255, 62, 29, 0.1);
  }
  .chat .chat-item-danger .chat-event:before {
    border-left-color: rgba(255, 62, 29, 0.1) !important;
    border-right-color: rgba(255, 62, 29, 0.1) !important;
  }
  .chat .chat-point-danger {
    background-color: #ff3e1d !important;
    box-shadow: 0 0 0 0.1875rem rgba(255, 62, 29, 0.16);
  }
  .chat .chat-indicator-danger {
    border-color: #ff3e1d !important;
  }
  .chat .chat-indicator-danger i {
    color: #ff3e1d !important;
  }
  .chat .chat-item-dark .chat-event {
    background-color: rgba(35, 52, 70, 0.1);
  }
  .chat .chat-item-dark .chat-event:before {
    border-left-color: rgba(35, 52, 70, 0.1) !important;
    border-right-color: rgba(35, 52, 70, 0.1) !important;
  }
  .chat .chat-point-dark {
    background-color: #233446 !important;
    box-shadow: 0 0 0 0.1875rem rgba(35, 52, 70, 0.16);
  }
  .chat .chat-indicator-dark {
    border-color: #233446 !important;
  }
  .chat .chat-indicator-dark i {
    color: #233446 !important;
  }
  .chat .chat-item-gray .chat-event {
    background-color: rgba(67, 89, 113, 0.1);
  }
  .chat .chat-item-gray .chat-event:before {
    border-left-color: rgba(67, 89, 113, 0.1) !important;
    border-right-color: rgba(67, 89, 113, 0.1) !important;
  }
  .chat .chat-point-gray {
    background-color: rgba(67, 89, 113, 0.1) !important;
    box-shadow: 0 0 0 0.1875rem rgba(67, 89, 113, 0.16);
  }
  .chat .chat-indicator-gray {
    border-color: rgba(67, 89, 113, 0.1) !important;
  }
  .chat .chat-indicator-gray i {
    color: rgba(67, 89, 113, 0.1) !important;
  }

  .chatUser a:hover
  {
    cursor: pointer !important;
  }

  td.activeUser  {
      background-color: #3d75a8;
  }

    td.activeUser a {
      color: white !important;
    }
    .chatConversation 
    {
      min-height: 300px!important;
    }