<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Questions for <span class="text-primary"> {{selectedTemplate.title}}</span>
            </h5>
            <div class="card-body">
                <div class="vert-scroll-300">
                    <table class="table table-striped table-bordered">
                        <tbody id="tbdQuestions">
                            <tr *ngFor="let question of questions">
                                <td>
                                    <span class="proxy_question_text"><i class="fa fa-question"></i>
                                        {{question.questionText}}</span> <span class="float-end"> <button type="button" *ngIf="enableQuestionSetting"
                                            class="btn btn-sm rounded-pill btn-icon btn-label-secondary" (click)="questionConfig(question)">
                                            <span class="bx bxs-cog"></span></button>&nbsp; <button type="button"
                                            (click)="editQuestion(question)"
                                            class="btn btn-sm rounded-pill btn-icon btn-label-secondary">
                                            <span class="bx bxs-pencil"></span></button>&nbsp;
                                        <button type="button" (click)="deleteQuestion(question)"
                                            class="btn btn-sm rounded-pill btn-icon btn-label-secondary proxy_delete_question"><span
                                                class="bx bx-x"></span></button>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <button (click)="addQuestion()" class="btn btn-sm btn-primary mt-1"><i class="la la-plus"></i> Add
                    Question</button>
            </div>
        </div>
    </div>
</div>