<div class="main">
  <ul class="nav nav-pills flex-column flex-md-row mb-3">
    <!-- Page -->
    <li
      class="nav-item ListItem"
      *ngFor="let menuItem of menuList"
      (click)="loadTab(menuItem, menuItem.RouteName, $event)"
    >
      <a href="#" [ngClass]="isActive(menuItem)">
        <i [ngClass]="menuItem.Icon"></i>
        
        {{ menuItem.Name}}
      </a>
    </li>
  </ul>
  <div>
    <shared-settings-personal *ngIf="tabType == 'account'"></shared-settings-personal>
    <shared-settings-personal2 *ngIf="tabType == 'account2'"></shared-settings-personal2>
    <!-- <shared-settings-personal2 *ngIf = "tabType = 'account2'" ></shared-settings-personal2> -->
    <app-security *ngIf="tabType == 'security'"></app-security>
    <app-notification-manage
      [SelfSetting]="selfSetting"
      *ngIf="tabType == 'notification'"
      [UserData]="userDetailData"
    ></app-notification-manage>
    <app-pricing *ngIf="tabType == 'pricing'"></app-pricing>
    <lists *ngIf="tabType == 'lists'"></lists>
    <list2 *ngIf = "tabType == 'list2'" ></list2>
    <app-threshold-settings *ngIf="tabType == 'threshod-settings'"></app-threshold-settings>
    <app-communication-templates *ngIf="tabType == 'communication-templates'"></app-communication-templates>
    <app-plan-settings *ngIf="tabType == 'plans'"></app-plan-settings>
    <app-owit-settings *ngIf="tabType == 'owit-templates'"></app-owit-settings>
    <app-offer-letter-templates-settings *ngIf="tabType == 'ol-templates'"></app-offer-letter-templates-settings>
  </div>
</div>
