<div class="card mt-2">
    <div class="card-header d-flex justify-content-between align-items-center pb-0">
        <div class="card-title mb-0">
            <h5 class="m-0 me-2">Specializations</h5>
            <small class="text-muted">Areas of expertise</small>
        </div>
    </div>
    <div class="card-body pt-2">
        <div id="divTemplates" class="list-group">
            <button type="button" class="list-group-item list-group-item-action"><i class="bx bx-street-view"></i>
                Information Technology <span class="float-end"><a href="#"><i
                            class="bx bxs-pencil text-secondary"></i></a> <a href="#"><i
                            class="bx bxs-trash text-secondary"></i></a></span></button>
            <button type="button" class="list-group-item list-group-item-action"><i class="bx bx-street-view"></i>
                Health Care <span class="float-end"><a href="#"><i class="bx bxs-pencil text-secondary"></i></a> <a
                        href="#"><i class="bx bxs-trash text-secondary"></i></a></span></button>
        </div>
        <button class="btn btn-outline-secondary btn-sm mt-1">Add</button>
    </div>

</div>