<div class="card position-relative">
    <div class="card-body pb-1">
        <div class="d-flex flex-row align-items-center"> <a href="RecruiterProfile.php?id=1">
                <div class="avatar avatar-xl avatar-online"><img src="../assets/img/avatars/13.png"
                        class="rounded-circle"></div>
            </a>
            <div class="">
                <div class="ps-2" style="font-size:19px;"><a href="RecruiterProfile.php?id=1">Charles Wicker</a>
                </div>
                <div class="ps-2"><span class="badge bg-success"><i class="bx bx-time small"></i> Present</span>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-around mt-4 ">
            <div class="text-center">
                <h4 class="mb-1">2</h4> <span>Clients</span>
            </div>
            <div class="text-center">
                <h4 class="mb-1">8</h4> <span>Jobs</span>
            </div>
            <div class="text-center">
                <h4 class="mb-1">$1,500</h4> <span>Sales</span>
            </div>
            <div class="text-center">
                <h4 class="mb-1">3</h4> <span>Hires</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="horz-scroll-200">
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="text-center small py-1 px-1" data-bs-toggle="tooltip"
                            data-bs-original-title="Not Working">6<br><i class="bx bx-circle bx-xs text-secondary"></i>
                        </td>
                        <td class="text-center small py-1 px-1" data-bs-toggle="tooltip"
                            data-bs-original-title="Not Working">7<br><i class="bx bx-circle bx-xs text-secondary"></i>
                        </td>
                        <td class="text-center small py-1 px-1" data-bs-toggle="tooltip"
                            data-bs-original-title="Not Working">8<br><i class="bx bx-circle bx-xs text-secondary"></i>
                        </td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - High Activity">9<br><i
                                class="bx bxs-circle bx-xs text-success"></i></td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - High Activity">10<br><i
                                class="bx bxs-circle bx-xs text-success"></i></td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - Medium Activity">11<br><i
                                class="bx bxs-circle bx-xs text-warning"></i></td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - High Activity">12<br><i
                                class="bx bxs-circle bx-xs text-success"></i></td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - Medium Activity">1<br><i
                                class="bx bxs-circle bx-xs text-warning"></i></td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - Future">2<br><i
                                class="bx bxs-circle bx-xs text-secondary"></i></td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - Future">3<br><i
                                class="bx bxs-circle bx-xs text-secondary"></i></td>
                        <td class="text-center small py-1 px-1 bg-success-light" data-bs-toggle="tooltip"
                            data-bs-original-title="Working - Future">4<br><i
                                class="bx bxs-circle bx-xs text-secondary"></i></td>
                        <td class="text-center small py-1 px-1">5<br><i class="bx bx-circle bx-xs text-secondary"
                                data-bs-toggle="tooltip" data-bs-original-title="Not Working"></i></td>
                        <td class="text-center small py-1 px-1">6<br><i class="bx bx-circle bx-xs text-secondary"
                                data-bs-toggle="tooltip" data-bs-original-title="Not Working"></i></td>
                        <td class="text-center small py-1 px-1">7<br><i class="bx bx-circle bx-xs text-secondary"
                                data-bs-toggle="tooltip" data-bs-original-title="Not Working"></i></td>
                        <td class="text-center small py-1 px-1">8<br><i class="bx bx-circle bx-xs text-secondary"
                                data-bs-toggle="tooltip" data-bs-original-title="Not Working"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>