<div class="authentication-wrapper authentication-cover">
  <div class="authentication-inner row m-0">
    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
      <div class="d-flex justify-content-center w-100">
        <img src="assets/img/illustrations/boy-with-laptop-light.png" class="img-fluid" alt="Login image" width="600"
          data-app-dark-img="illustrations/boy-with-laptop-dark.png"
          data-app-light-img="illustrations/boy-with-laptop-light.png" />
      </div>
    </div>
    <!-- /Left Text -->

    <!-- Reset Password -->
    <div class="authentication-bg bg-white d-flex col-12 col-lg-5 col-xl-4 align-items-center p-4 p-sm-5">
      <div class="w-px-400 mx-auto">
        <!-- Logo -->
        <div class="app-brand mb-5">
          <a [routerLink]="['/auth/login']" class="app-brand-link gap-2">
            <span class="">
              <img src="assets/img/branding/logo.png" class="img-fluid" />
              <span class="app-brand-text demo text-body fw-bolder d-none">Elite Team</span>
            </span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Reset Password</h4>
       <ng-container *ngIf="showForm">
        <p class="mb-4">for <span class="fw-bold">{{user.email}}</span></p>
        <form [formGroup]="resetPasswordForm" class="mb-3" [appIsLoading]="loadingService.isLoading(this)">
          <div class="form-password-toggle mb-3">
            <label class="form-label" for="password">New Password</label>
            <div class="input-group input-group-merge">
              <input type="password" autocomplete="off" name="password" formControlName="password" class="form-control"
                name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password" />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
            <div *ngIf="f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">New Password is required</div>
            </div>
          </div>
          <div class="form-password-toggle mb-3">
            <label class="form-label" for="confirm-password">Confirm Password</label>
            <div class="input-group input-group-merge">
              <input type="password" autocomplete="off" name="confirmPassword" formControlName="confirmPassword"
                class="form-control" name="confirm-password"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password" />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
            <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">New Password is required</div>
            </div>
          </div>
          <button [disabled]="resetPasswordForm.invalid || user.userId==0" class="btn btn-primary d-grid w-100 mb-3"
            (click)="resetPassword()">Set new password</button>
          <div class="text-center">
            <a [routerLink]="['/auth/login']">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              Back to login
            </a>
          </div>
        </form>
       </ng-container>
       <ng-container  *ngIf="!showForm">
          <div class="alert alert-danger">
              <label>You reset password link has been expired, please request new link. Thanks</label>
          </div>
          <div class="text-center">
            <a [routerLink]="['/auth/login']">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              Back to login
            </a>
          </div>
       </ng-container >
      </div>
    </div>
  </div>
</div>