<div class="main">
  <ul class="nav nav-pills flex-column flex-md-row mb-3">
    <!-- Page -->
    <li
      class="nav-item ListItem"
      *ngFor="let menuItem of menuList"
      (click)="loadTab(menuItem, menuItem.RouteName, $event)"
    >
      <a href="#" [ngClass]="isActive(menuItem)">
        <i [ngClass]="menuItem.Icon"></i>
        {{ menuItem.Name }}
      </a>
    </li>
  </ul>
</div>
<div>
  <app-security *ngIf="tabType == 'security'"></app-security>
  <app-notification-manage
    *ngIf="tabType == 'notification'"
  ></app-notification-manage>
  <shared-settings-personal *ngIf="tabType == 'account'"></shared-settings-personal>
</div>
