
<div class="card mb-4">
  <h5 class="card-header">Plan</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6 order-1 order-xl-0">
        <div id="divPlanDefault" >
          <h6 class="">Your Current Plan is <b>Default <i class="bx bx-dollar text-warning"></i></b></h6>
        </div>
        <div id="divPlanPlatinum" >
          <h6 class="">Your Current Plan is <b>Platinum <i class="bx bx-crown text-warning"></i></b></h6>
        </div>
      </div>
      <div class="col-xl-6 order-0 order-xl-0">
      </div>
    </div>
  </div>
</div>