<div class="card mt-2">
  <div class="card-body">
    <h5>Comments</h5>
    <div class="alert alert-secondary alert-dismissible" role="alert">
      <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">John Doe</h6>
      <p class="mb-0">Nicely handled this question. I like this guy.</p>
    </div>
    <div class="alert alert-secondary alert-dismissible" role="alert">
      <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Mark Thomas</h6>
      <p class="mb-0">Lets proceed with this candidate.</p>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter your comment here">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Save</button>
    </div>
  </div>
</div>