<div class="row">
  <div class="col-sm-12 col-md-6 offset-md-3">

    <h2 class="text-center">One-Way Interview Completed</h2>

    <div class="card">
      <div class="row d-flex align-items-end">
        <div class="col-8">
          <div class="card-body">

            Good {{name}}!
            <br>
            <br>
            Your interview is being reviewed. You can monitor the realtime status of your job applicaion on your Dashboard.
          </div>
        </div>
        <div class="col-4 pt-3 ps-0">
          <img src="../assets/img/illustrations/prize-light.png" width="90" height="140" class="rounded-start" alt="View Sales">
        </div>
      </div>
    </div>


    <a routerLink="/candidate/dashboard" class="btn btn-primary w-100 mt-4"> Go to Dashboard</a>

  </div>
</div>
