<div class="row mt-3 mb-2 mb-md-0">
  <div class="col-md-12 mb-4">
    <span id="spnSelectedCandidatesToSharex"></span>
    <div class="row mb-2">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <div class="input-group input-group-merge">
          <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
          <input type="text" class="form-control" placeholder="Search User">
        </div>
      </div>
    </div>
    <div class="vert-scroll-300">
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Access Level</th>
            <th>Shared Candidates</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex justify-content-left align-items-center">
                <div class="avatar-wrapper">
                  <div class="avatar avatar-sm me-3"><img src="../assets/img/avatars/11.png" alt="Avatar"
                      class="rounded-circle"></div>
                </div>
                <div class="d-flex flex-column"><span class="fw-semibold">Norman Ingham <i
                      class="bx bxs-message-square-add" data-bs-toggle="tooltip"
                      data-bs-original-title="Created this job post"></i></span><small class="text-muted">HR
                    Manager</small></div>
              </div>
            </td>
            <td>
              <select class="form-select">
                <option value="">No Access</option>
                <option value="">Can View</option>
                <option value="" selected="">Can View &amp; Process</option>
              </select>
            </td>
            <td>
              <ul class="list-unstyled avatar-group d-flex align-items-center mb-0">
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" title=""
                  class="avatar avatar-sm pull-up" data-bs-original-title="Andrew Tye">
                  <img class="rounded-circle" src="../assets/img/avatars/12.png" alt="Avatar">
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-left align-items-center">
                <div class="avatar-wrapper">
                  <div class="avatar avatar-sm me-3"><img src="../assets/img/avatars/4.png" alt="Avatar"
                      class="rounded-circle"></div>
                </div>
                <div class="d-flex flex-column"><span class="fw-semibold">Kimberly Smith</span><small
                    class="text-muted">HR Assistant</small></div>
              </div>
            </td>
            <td>
              <select class="form-select">
                <option value="">No Access</option>
                <option value="">Can View</option>
                <option value="">Can View &amp; Process</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-left align-items-center">
                <div class="avatar-wrapper">
                  <div class="avatar avatar-sm me-3"><img src="../assets/img/avatars/6.png" alt="Avatar"
                      class="rounded-circle"></div>
                </div>
                <div class="d-flex flex-column"><span class="fw-semibold">Nigel Hawthorne</span><small
                    class="text-muted">Recruitment Assistant</small></div>
              </div>
            </td>
            <td>
              <select class="form-select">
                <option value="">No Access</option>
                <option value="">Can View</option>
                <option value="">Can View &amp; Process</option>
              </select>
            </td>
            <td>
              <ul class="list-unstyled avatar-group d-flex align-items-center mb-0">
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" title=""
                  class="avatar avatar-sm pull-up" data-bs-original-title="Andrew Tye">
                  <img class="rounded-circle" src="../assets/img/avatars/6.png" alt="Avatar">
                </li>
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" title=""
                  class="avatar avatar-sm pull-up" data-bs-original-title="Peter Adward">
                  <img class="rounded-circle" src="../assets/img/avatars/15.png" alt="Avatar">
                </li>
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" title=""
                  class="avatar avatar-sm pull-up" data-bs-original-title="Kaith D'souza">
                  <img class="rounded-circle" src="../assets/img/avatars/10.png" alt="Avatar">
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-left align-items-center">
                <div class="avatar-wrapper">
                  <div class="avatar avatar-sm me-3"><img src="../assets/img/avatars/1.png" alt="Avatar"
                      class="rounded-circle"></div>
                </div>
                <div class="d-flex flex-column"><span class="fw-semibold">John Doe</span><small class="text-muted">HR
                    Director</small></div>
              </div>
            </td>
            <td>
              <select class="form-select">
                <option value="">No Access</option>
                <option value="">Can View</option>
                <option value="">Can View &amp; Process</option>
              </select>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <button id="btnAddNewUser" type="button" class="btn rounded-pill btn-sm btn-outline-primary"><i
        class="bx bxs-user"></i> Add New User</button>
  </div>
</div>
<div class="float-right mt-3">
  <button id="btnUpdateSharing" class="btn btn-primary">Update</button>
  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
</div>