<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center pb-0">
        <div class="card-title mb-0">
            <h5 class="m-0 me-2">Activity Summary</h5>
            <small class="text-muted">Last 7 days</small>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3" style="position: relative;">
            <div class="gap-1 d-flex flex-column align-items-center">
                <h2 class="mb-2">{{sum}}</h2>
                <span>Hours</span>
            </div>
            <div id="orderStatisticsChart" style="min-height: 154.6px;">
                <div id="apexchartsbamq4qh3" class="apexcharts-canvas apexchartsbamq4qh3 apexcharts-theme-light"
                    style="width: 130px; height: 154.6px;"><svg id="SvgjsSvg1282" width="130"
                        height="154.59999084472656" xmlns="http://www.w3.org/2000/svg" version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg"
                        xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                        style="background: transparent none repeat scroll 0% 0%;">
                        <g id="SvgjsG1284" class="apexcharts-inner apexcharts-graphical" transform="translate(-7, 0)">
                            <defs id="SvgjsDefs1283">
                                <clipPath id="gridRectMaskbamq4qh3">
                                    <rect id="SvgjsRect1286" width="150" height="173" x="-4.5" y="-2.5" rx="0" ry="0"
                                        opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff">
                                    </rect>
                                </clipPath>
                                <clipPath id="forecastMaskbamq4qh3"></clipPath>
                                <clipPath id="nonForecastMaskbamq4qh3"></clipPath>
                                <clipPath id="gridRectMarkerMaskbamq4qh3">
                                    <rect id="SvgjsRect1287" width="145" height="172" x="-2" y="-2" rx="0" ry="0"
                                        opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff">
                                    </rect>
                                </clipPath>
                            </defs>
                            <g id="SvgjsG1288" class="apexcharts-pie">
                                <g id="SvgjsG1289" transform="translate(0, 0) scale(1)">
                                    <circle id="SvgjsCircle1290" r="44.835365853658544" cx="70.5" cy="70.5"
                                        fill="transparent"></circle>
                                    <g id="SvgjsG1291" class="apexcharts-slices">
                                        <g id="SvgjsG1292" class="apexcharts-series apexcharts-pie-series"
                                            seriesName="Interviewing" rel="1" data:realIndex="0">
                                            <path id="SvgjsPath1293"
                                                d="M 70.5 10.71951219512195 A 59.78048780487805 59.78048780487805 0 0 1 127.35462247413223 88.97318666373161 L 113.14096685559917 84.35488999779871 A 44.835365853658544 44.835365853658544 0 0 0 70.5 25.664634146341456 L 70.5 10.71951219512195 z"
                                                fill="rgba(61,117,168,1)" fill-opacity="1" stroke-opacity="1"
                                                stroke-linecap="butt" stroke-width="5" stroke-dasharray="0"
                                                class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0"
                                                data:angle="108" data:startAngle="0" data:strokeWidth="5"
                                                data:value="30"
                                                data:pathOrig="M 70.5 10.71951219512195 A 59.78048780487805 59.78048780487805 0 0 1 127.35462247413223 88.97318666373161 L 113.14096685559917 84.35488999779871 A 44.835365853658544 44.835365853658544 0 0 0 70.5 25.664634146341456 L 70.5 10.71951219512195 z"
                                                stroke="#ffffff"></path>
                                        </g>
                                        <g id="SvgjsG1294" class="apexcharts-series apexcharts-pie-series"
                                            seriesName="Messaging" rel="2" data:realIndex="1">
                                            <path id="SvgjsPath1295"
                                                d="M 127.35462247413223 88.97318666373161 A 59.78048780487805 59.78048780487805 0 0 1 105.63808910655736 118.86343056617065 L 96.85356682991802 106.77257292462798 A 44.835365853658544 44.835365853658544 0 0 0 113.14096685559917 84.35488999779871 L 127.35462247413223 88.97318666373161 z"
                                                fill="rgba(133,146,163,1)" fill-opacity="1" stroke-opacity="1"
                                                stroke-linecap="butt" stroke-width="5" stroke-dasharray="0"
                                                class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1"
                                                data:angle="36" data:startAngle="108" data:strokeWidth="5"
                                                data:value="10"
                                                data:pathOrig="M 127.35462247413223 88.97318666373161 A 59.78048780487805 59.78048780487805 0 0 1 105.63808910655736 118.86343056617065 L 96.85356682991802 106.77257292462798 A 44.835365853658544 44.835365853658544 0 0 0 113.14096685559917 84.35488999779871 L 127.35462247413223 88.97318666373161 z"
                                                stroke="#ffffff"></path>
                                        </g>
                                        <g id="SvgjsG1296" class="apexcharts-series apexcharts-pie-series"
                                            seriesName="Filtering" rel="3" data:realIndex="2">
                                            <path id="SvgjsPath1297"
                                                d="M 105.63808910655736 118.86343056617065 A 59.78048780487805 59.78048780487805 0 0 1 13.645377525867772 52.02681333626837 L 27.859033144400826 56.64511000220128 A 44.835365853658544 44.835365853658544 0 0 0 96.85356682991802 106.77257292462798 L 105.63808910655736 118.86343056617065 z"
                                                fill="rgba(3,195,236,1)" fill-opacity="1" stroke-opacity="1"
                                                stroke-linecap="butt" stroke-width="5" stroke-dasharray="0"
                                                class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2"
                                                data:angle="144" data:startAngle="144" data:strokeWidth="5"
                                                data:value="40"
                                                data:pathOrig="M 105.63808910655736 118.86343056617065 A 59.78048780487805 59.78048780487805 0 0 1 13.645377525867772 52.02681333626837 L 27.859033144400826 56.64511000220128 A 44.835365853658544 44.835365853658544 0 0 0 96.85356682991802 106.77257292462798 L 105.63808910655736 118.86343056617065 z"
                                                stroke="#ffffff"></path>
                                        </g>
                                        <g id="SvgjsG1298" class="apexcharts-series apexcharts-pie-series"
                                            seriesName="Sharing" rel="4" data:realIndex="3">
                                            <path id="SvgjsPath1299"
                                                d="M 13.645377525867772 52.02681333626837 A 59.78048780487805 59.78048780487805 0 0 1 70.48956633664653 10.719513105630845 L 70.4921747524849 25.664634829223125 A 44.835365853658544 44.835365853658544 0 0 0 27.859033144400826 56.64511000220128 L 13.645377525867772 52.02681333626837 z"
                                                fill="rgba(113,221,55,1)" fill-opacity="1" stroke-opacity="1"
                                                stroke-linecap="butt" stroke-width="5" stroke-dasharray="0"
                                                class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3"
                                                data:angle="72" data:startAngle="288" data:strokeWidth="5"
                                                data:value="20"
                                                data:pathOrig="M 13.645377525867772 52.02681333626837 A 59.78048780487805 59.78048780487805 0 0 1 70.48956633664653 10.719513105630845 L 70.4921747524849 25.664634829223125 A 44.835365853658544 44.835365853658544 0 0 0 27.859033144400826 56.64511000220128 L 13.645377525867772 52.02681333626837 z"
                                                stroke="#ffffff"></path>
                                        </g>
                                    </g>
                                </g>
                                <g id="SvgjsG1300" class="apexcharts-datalabels-group"
                                    transform="translate(0, 0) scale(1)"><text id="SvgjsText1301"
                                        font-family="Helvetica, Arial, sans-serif" x="70.5" y="90.5"
                                        text-anchor="middle" dominant-baseline="auto" font-size="0.8125rem"
                                        font-weight="400" fill="#a1acb8"
                                        class="apexcharts-text apexcharts-datalabel-label"
                                        style="font-family: Helvetica, Arial, sans-serif;">Hrs.</text><text
                                        id="SvgjsText1302" font-family="Public Sans" x="70.5" y="71.5"
                                        text-anchor="middle" dominant-baseline="auto" font-size="1.5rem"
                                        font-weight="400" fill="#566a7f"
                                        class="apexcharts-text apexcharts-datalabel-value"
                                        style="font-family: Public Sans;">{{sum}}</text></g>
                            </g>
                            <line id="SvgjsLine1303" x1="0" y1="0" x2="141" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                                stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                            <line id="SvgjsLine1304" x1="0" y1="0" x2="141" y2="0" stroke-dasharray="0" stroke-width="0"
                                stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden">
                            </line>
                        </g>
                        <g id="SvgjsG1285" class="apexcharts-annotations"></g>
                    </svg>
                    <div class="apexcharts-legend"></div>
                    <div class="apexcharts-tooltip apexcharts-theme-dark">
                        <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                class="apexcharts-tooltip-marker" style="background-color: rgb(61, 117, 168);"></span>
                            <div class="apexcharts-tooltip-text"
                                style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                <div class="apexcharts-tooltip-y-group"><span
                                        class="apexcharts-tooltip-text-y-label"></span><span
                                        class="apexcharts-tooltip-text-y-value"></span></div>
                                <div class="apexcharts-tooltip-goals-group"><span
                                        class="apexcharts-tooltip-text-goals-label"></span><span
                                        class="apexcharts-tooltip-text-goals-value"></span></div>
                                <div class="apexcharts-tooltip-z-group"><span
                                        class="apexcharts-tooltip-text-z-label"></span><span
                                        class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                        </div>
                        <div class="apexcharts-tooltip-series-group" style="order: 2;"><span
                                class="apexcharts-tooltip-marker" style="background-color: rgb(133, 146, 163);"></span>
                            <div class="apexcharts-tooltip-text"
                                style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                <div class="apexcharts-tooltip-y-group"><span
                                        class="apexcharts-tooltip-text-y-label"></span><span
                                        class="apexcharts-tooltip-text-y-value"></span></div>
                                <div class="apexcharts-tooltip-goals-group"><span
                                        class="apexcharts-tooltip-text-goals-label"></span><span
                                        class="apexcharts-tooltip-text-goals-value"></span></div>
                                <div class="apexcharts-tooltip-z-group"><span
                                        class="apexcharts-tooltip-text-z-label"></span><span
                                        class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                        </div>
                        <div class="apexcharts-tooltip-series-group" style="order: 3;"><span
                                class="apexcharts-tooltip-marker" style="background-color: rgb(3, 195, 236);"></span>
                            <div class="apexcharts-tooltip-text"
                                style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                <div class="apexcharts-tooltip-y-group"><span
                                        class="apexcharts-tooltip-text-y-label"></span><span
                                        class="apexcharts-tooltip-text-y-value"></span></div>
                                <div class="apexcharts-tooltip-goals-group"><span
                                        class="apexcharts-tooltip-text-goals-label"></span><span
                                        class="apexcharts-tooltip-text-goals-value"></span></div>
                                <div class="apexcharts-tooltip-z-group"><span
                                        class="apexcharts-tooltip-text-z-label"></span><span
                                        class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                        </div>
                        <div class="apexcharts-tooltip-series-group" style="order: 4;"><span
                                class="apexcharts-tooltip-marker" style="background-color: rgb(113, 221, 55);"></span>
                            <div class="apexcharts-tooltip-text"
                                style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                <div class="apexcharts-tooltip-y-group"><span
                                        class="apexcharts-tooltip-text-y-label"></span><span
                                        class="apexcharts-tooltip-text-y-value"></span></div>
                                <div class="apexcharts-tooltip-goals-group"><span
                                        class="apexcharts-tooltip-text-goals-label"></span><span
                                        class="apexcharts-tooltip-text-goals-value"></span></div>
                                <div class="apexcharts-tooltip-z-group"><span
                                        class="apexcharts-tooltip-text-z-label"></span><span
                                        class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resize-triggers">
                <div class="expand-trigger">
                    <div style="width: 368px; height: 156px;"></div>
                </div>
                <div class="contract-trigger"></div>
            </div>
        </div>
        <ul class="p-0 m-0"  *ngFor="let item of summaries">
            <li class="d-flex pb-1 mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial bg-label-primary rounded"><i class="bx bxs-bar-chart-alt-2"></i></span>
                </div>
                <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                    <div class="me-2">
                        <h6 class="mb-0">{{item.summaryType}}</h6>
                        <small *ngIf="item.summaryType == 'Interviewing'" class="text-muted">Scheduling &amp; attending interviews</small>
                        <small *ngIf="item.summaryType == 'Sharing'" class="text-muted">Redacting &amp; sharing resumes</small>
                        <small *ngIf="item.summaryType == 'Filtering'" class="text-muted">Filtering applicants</small>
                        <small *ngIf="item.summaryType == 'Messaging'" class="text-muted">Communications</small>
                        <small *ngIf="item.summaryType == 'Others'" class="text-muted">Other Activities</small>
                    </div>
                    <div class="user-progress">
                        <small class="fw-semibold">{{item.hoursCount}} Hrs.</small>
                    </div>
                </div>
            </li>
            <!-- <li class="d-flex pb-1 mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial bg-label-success rounded"><i class="bx bx-share"></i></span>
                </div>
                <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                    <div class="me-2">
                        <h6 class="mb-0">Sharing</h6>
                        <small class="text-muted">Redacting &amp; sharing resumes</small>
                    </div>
                    <div class="user-progress">
                        <small class="fw-semibold">1 Hrs.</small>
                    </div>
                </div>
            </li>
            <li class="d-flex pb-1 mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial bg-label-info rounded"><i class="bx bxs-filter-alt"></i></span>
                </div>
                <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                    <div class="me-2">
                        <h6 class="mb-0">Filtering</h6>
                        <small class="text-muted">Filtering applicants</small>
                    </div>
                    <div class="user-progress">
                        <small class="fw-semibold">4 Hrs.</small>
                    </div>
                </div>
            </li>
            <li class="d-flex">
                <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial bg-label-secondary rounded"><i class="bx bxs-chat"></i></span>
                </div>
                <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                    <div class="me-2">
                        <h6 class="mb-0">Messaging</h6>
                        <small class="text-muted">Communications</small>
                    </div>
                    <div class="user-progress">
                        <small class="fw-semibold">2 Hrs.</small>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</div>