<div class="mb-3">
  <ul class="timeline">
    <li class="timeline-item timeline-item-transparent">
      <span class="timeline-point timeline-point-primary"></span>
      <div class="timeline-event">
        <div class="timeline-header">
          <h6 class="mb-0">Recruiter Interview Requested</h6>
          <span class="text-muted">05/12/2022 11:31 AM</span>
        </div>
      </div>
    </li>
    <li class="timeline-item timeline-item-transparent">
      <span class="timeline-point timeline-point-success"></span>
      <div class="timeline-event">
        <div class="timeline-header">
          <h6 class="mb-0">One-Way Interview Completed</h6>
          <span class="text-muted">05/09/2022 05:13 PM</span>
        </div>
      </div>
    </li>
    <li class="timeline-item timeline-item-transparent">
      <span class="timeline-point timeline-point-primary"></span>
      <div class="timeline-event">
        <div class="timeline-header">
          <h6 class="mb-0">Invite sent for One-Way Interview</h6>
          <span class="text-muted">05/07/2022 08:30 AM</span>
        </div>
      </div>
    </li>
    <li class="timeline-end-indicator"><i class="bx bx-play-circle"></i></li>
  </ul>
</div>