<table class="table">
  <tbody>
     <tr data-dt-row="0" data-dt-column="2">
        <td>Job Title:</td>
        <td>
           <div class="d-flex justify-content-left align-items-center">
              <div class="avatar-wrapper">
                 <div class="avatar me-2"><img src="{{requisitionDetail.logoFileName}}" alt="Avatar" class="rounded-circle"></div>
              </div>
              <div class="d-flex flex-column"><span class="text-truncate"><a href="#">{{requisitionDetail.title}}</a></span><small class="text-truncate text-muted">{{requisitionDetail.createdOn | date: 'dd/MM/yyyy' }}</small></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="3">
        <td>Client Name:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><span class="emp_name text-truncate"><a href="#" target="_blank">{{requisitionDetail.companyName }}</a></span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="4">
        <td>Commission:</td>
        <td>
         <div *ngIf="requisitionDetail.commissionPercentage" class="d-flex justify-content-start align-items-center">
            <div class="d-flex flex-column w-{{requisitionDetail.commissionPercentage}}">
              <span class="emp_name text-truncate">
                 {{requisitionDetail.commissionPercentage }}%
                <br>
                <div class="progress" style="height: 6px;">
                  <div class="progress-bar bg-primary" role="progressbar" [style]="'width:' + requisitionDetail.commissionPercentage +'%' ">
                  </div>
                </div>
              </span>
            </div>
          </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="5">
        <td>Date Submitted:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><span class="emp_name text-truncate">{{requisitionDetail.submittedOn | date: 'dd/MM/yyyy' }}</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="6">
        <td>Time from Submission:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column">{{requisitionDetail.timeFromSubmission }} Hrs.</div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="7">
        <td>Time from Submission to Posting:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><span class="emp_name text-truncate">{{requisitionDetail.differenceInHours }} Hrs.</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="8">
        <td>Date Posted:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><i class="la la-clock-o"></i><span class="emp_name text-truncate">{{requisitionDetail.postedOn | date: 'dd/MM/yyyy' }}</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="9">
        <td>Applicant Count:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><i class="la la-clock-o"></i><span class="emp_name text-truncate">{{requisitionDetail.applicantCount }}</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="10">
        <td>Candidates Count:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><span class="emp_name text-truncate"><i class="fa fa-video"></i> {{requisitionDetail.candidatesCount }}</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="11">
        <td>Candidates Presented:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><i class="la la-clock-o"></i><span class="emp_name text-truncate">{{requisitionDetail.candidatePresented}}</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="12">
        <td>Purchase Count:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><i class="la la-clock-o"></i><span class="emp_name text-truncate"><a href="#" class="proxy_show_supplementary_data" data-index="3">3</a></span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="13">
        <td>Client Jobs:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><i class="la la-clock-o"></i><span class="emp_name text-truncate">{{requisitionDetail.purchaseCount}}</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="14">
        <td>Other Jobs Candidates Purchased/Presented:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><i class="la la-clock-o"></i><span class="emp_name text-truncate">{{requisitionDetail.otherJobs}}</span></div>
           </div>
        </td>
     </tr>
     <tr data-dt-row="0" data-dt-column="15">
        <td>Status:</td>
        <td>
           <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex flex-column"><i class="la la-clock-o"></i><span class="emp_name text-truncate">{{requisitionDetail.status}}</span></div>
           </div>
        </td>
     </tr>
  </tbody>
</table>