<div class="card">
    <div class="card-body position-relative">
        <div class="dropdown btn-pinned"> </div>
        <div class="Xmx-auto Xmb-3" style="vertical-align:middle;"> <img src="{{candidate.avatarFileName|avatar}}"
                alt="Candidate Picture" class="w-px-100 rounded-circle"> <span
                style="display:inline-block;padding-left:10px;vertical-align:middle;"> <span
                    style="font-size:18px;display:inline-block;">{{candidate.firstName}} {{candidate.lastName}}</span>
                <span style="font-size:15px;display:block;" class="ml-1"> <a href="javascript:void(0)" [routerLink]="candidate.profileUrl" class="btn btn-secondary btn-sm"><i
                            class="fa fa-user"></i> Profile</a> <a href="javascript:void(0)" [routerLink]="candidate.resumeFileName"
                        class="btn btn-label-secondary btn-icon btn-sm proxy_view_resume ml-1"><i
                            class="fa fa-file-pdf"></i></a> </span> </span> </div>
        <div class="pt-2">

            <div class="row p-0 m-0">
                <div class="col-md-3 pl-2 py-0 text-right" style="text-align: right; font-size:13px;">Job:</div>
                <div class="col-md-9 pl-2 py-0 text-left" style="text-align: left; font-size:13px;">
                    {{candidate.jobTitle}}</div>
            </div>
            <div class="row p-0 m-0">
                <div class="col-md-3 pl-2 py-0 text-right" style="text-align: right; font-size:13px;">Status:
                </div>
                <div class="col-md-9 pl-2 py-0 text-left" [ngClass]="{'text-danger':candidate.status=='Disqualified'}" style="text-align: left; font-size:13px;">
                    {{candidate.status}} </div>
            </div>
            <div class="row p-0 m-0">
                <div class="col-md-3 pl-2 py-0 text-right" style="text-align: right; font-size:13px;">Rating:
                </div>
                <div class="col-md-6 pl-2 py-0 text-left" style="text-align: left; font-size:13px;">
                    <p-rating [cancel]="false" [readonly]="true" [(ngModel)]="candidate.recruiterRating"></p-rating>
                </div>
            </div>
            <div class="row p-0 m-0">
                <div class="col-md-3 pl-2 py-0 text-right" style="text-align: right; font-size:13px;">
                    Experience:</div>
                <div class="col-md-6 pl-2 py-0 text-left" style="text-align: left; font-size:13px;">
                    {{candidate.experienceInYear}}
                </div>
            </div>
            <div class="row p-0 m-0">
                <div class="col-md-3 pl-2 py-0 text-right" style="text-align: right; font-size:13px;">Age:</div>
                <div class="col-md-6 pl-2 py-0 text-left" style="text-align: left; font-size:13px;">{{candidate.age}}
                </div>
            </div>
            <div class="row p-0 m-0">
                <div class="col-md-3 pl-2 py-0 text-right" style="text-align: right; font-size:13px;">Applied
                    On:</div>
                <div class="col-md-9 pl-2 py-0 text-left" style="text-align: left; font-size:13px;">
                    {{candidate.appliedOn | customDateTime}}
                    <span class="badge bg-secondary float-end">{{candidate.source}}</span>
                </div>
            </div>
            <div class="row p-0 mb-2">
                <div class="col-md-3 pl-2 py-0 text-right" style="text-align: right; font-size:13px;">Campaign:
                </div>
                <div class="col-md-6 pl-2 py-0 text-left" style="text-align: left; font-size:13px;">
                    <i *ngIf="candidate.campaignType=='Video'" class="bx bxs-video"></i>
                    <i *ngIf="candidate.campaignType=='Resume'" class="bx bxs-detail"></i>
                    <i *ngIf="candidate.campaignType=='Interview'" class="bx bxs-calendar"></i>
                    {{candidate.campaignType}}
                </div> <a href="javascript:void(0)" [routerLink]="candidate.profileUrl" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>