
<!-- <app-user-plan-details  ></app-user-plan-details> -->
<p-blockUI [blocked]="this.isLoading_SavePaymentMethod">
  <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>

<div class="card mb-4" *ngIf="userType == 5 || userType == 6">
  <h5 class="card-header">Plan</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6 order-1 order-xl-0">
        <div id="divPlanDefault" *ngIf="this.planType == 'Default'" >
          <h6 class="">Your Current Plan is <b>Default <i class="bx bx-dollar text-warning"></i></b></h6>
        </div>
        <div id="divPlanPlatinum"  *ngIf="this.planType == 'Platinum'" >
          <h6 class="">Your Current Plan is <b>Platinum <i class="bx bx-crown text-warning"></i></b></h6>
        </div>
      </div>
      <div class="col-xl-6 order-0 order-xl-0">
      </div>
    </div>
  </div>
</div>

<div class="card mb-4" *ngIf="userType == 5">
  <h5 class="card-header">Payment Methods</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <form id="creditCardForm" class="row g-3" onsubmit="return false">
          <div class="col-12">
            <div class="form-check form-check-inline">
              <!-- <p-radioButton name="collapsible-payment" [value]="selectedValue" [(ngModel)]="selectedValue" formControlName="collapsible-payment-cc" class="form-check-input" ></p-radioButton> -->
              <input type="radio" class="form-check-input"  checked="checked"/>
              <label class="form-check-label" for="collapsible-payment-cc">Credit/Debit/ATM Card</label>
            </div>
            <!-- <div class="form-check form-check-inline">
              <p-radioButton name="collapsible-payment" value="payment-cash" formControlName="collapsible-payment-cash" class="form-check-input" ></p-radioButton>
              <label class="form-check-label" for="collapsible-payment-cash">Paypal account</label>
            </div> -->
          </div>
          <div class="col-md-12">
            <label class="form-label w-100" for="paymentCard">Card Number</label>
            <div class="input-group " >
              <input id="paymentCard" name="paymentCard" class="form-control credit-card-mask" maxlength="16"  type="text" placeholder="1356 3215 6548 7898" aria-describedby="paymentCard2" pInputText [(ngModel)]="paymentMethod.cardNo" />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="paymentName">Name</label>
            <!-- <input type="text" id="paymentName" class="form-control" placeholder="John Doe" pInputText  [(ngModel)]="paymentMethod.name"/>/ -->
            <input id="paymentName" name="paymentName" class="form-control credit-card-mask"  type="text" placeholder="John Doe" aria-describedby="paymentCard2" pInputText [(ngModel)]="paymentMethod.name" />
          </div>
          <div class="col-6 col-md-3">
            <label class="form-label" for="paymentExpiryDate">Exp. Date</label>
            <!-- <input type="text" id="paymentExpiryDate" class="form-control expiry-date-mask" placeholder="MM/YY" pInputText  [(ngModel)]="paymentMethod.expiryMmyy"/> -->
            <input id="paymentCardExpiry" name="paymentCardExpiry" class="form-control credit-card-mask"  type="text" placeholder="MM/YY" aria-describedby="paymentCard2" pInputText [(ngModel)]="paymentMethod.expiryMmyy" />
          </div>
          <div class="col-6 col-md-3">
            <label class="form-label" for="paymentCvv">CVV Code</label>
            <div class="input-group input-group-merge">
              <!-- <input type="text" id="paymentCvv" class="form-control cvv-code-mask" maxlength="3" placeholder="654" pInputText [(ngModel)]="paymentMethod.cvv"/> -->
              <input id="paymentCardCvv" name="paymentCardCvv" class="form-control credit-card-mask"  type="text" placeholder="123" aria-describedby="paymentCard2" pInputText [(ngModel)]="paymentMethod.cvv" />
              <span class="input-group-text cursor-pointer" id="paymentCvv2"><i class="bx bx-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Card Verification Value"></i></span>
            </div>
          </div>
          <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary me-1 me-sm-3" iconPos="right" [loading]="isLoading_SavePaymentMethod"  (click)="savePayment()">Save Changes</button>
            <button type="reset" class="btn btn-label-secondary" (click)="cancelPayment()">Cancel</button>
          </div>
        </form>
      </div>
      <div class="col-md-6 mt-5 mt-md-0">
        <h6>My Cards</h6>
        <div class="added-cards" *ngFor="let item of paymentMethods">
          <div class="cardMaster rounded-2 bg-lighter p-3">
            <div class="d-flex flex-column flex-sm-row justify-content-between">
              <div class="card-information me-2">
                <img class="img-fluid mb-3" src="../assets/img/icons/payments/{{item.cardType}}.png" />
                <div class="gap-2 d-flex flex-wrap align-items-center mb-1">
                  <h6 class="me-2 mb-0">{{item.name}}</h6>
                  <span *ngIf="item.isPrimary" class="badge bg-label-success">Primary</span>
                  <a *ngIf="!item.isPrimary" style="cursor:pointer;" (click)="markAsPrimary(item)"><span class="badge bg-label-primary">Mark As Primary</span></a>
                </div>

                <span class="card-number">&#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727; {{item.cardNo}}</span>
              </div>
              <div class="d-flex flex-column text-start text-sm-end">
                <div class="d-flex order-1 order-sm-0 mt-3 mt-sm-0">
                  <button class="btn btn-label-secondary" (click)="deletePaymentMethod(item)">Delete</button>
                </div>
                <small class="order-0 order-sm-1 mt-2 mt-sm-auto">Card expires at {{item.expiryMmyy}}</small>
              </div>
            </div>
          </div>
          <!-- <div class="cardMaster rounded-2 bg-lighter p-3 mb-3">
            <div class="d-flex flex-column flex-sm-row justify-content-between">
              <div class="card-information me-2">
                <img class="img-fluid mb-3" src="../assets/img/icons/payments/mastercard.png" alt="Master Card" />
                <h6 class="mb-1">Tom McBride</h6>
                <span class="card-number">&#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727; 9856</span>
              </div>
              <div class="d-flex flex-column text-start text-sm-end">
                <div class="d-flex order-1 order-sm-0 mt-3 mt-sm-0">
                  <button class="btn btn-label-primary me-2" data-bs-toggle="modal" data-bs-target="#editCCModal">
                    Edit
                  </button>
                  <button class="btn btn-label-secondary">Delete</button>
                </div>
                <small class="order-0 order-sm-1 mt-2 mt-sm-auto">Card expires at 12/26</small>
              </div>
            </div>
          </div> -->
        </div>
        <!-- Modal -->
        <!-- Add New Credit Card Modal -->
        <!-- <div class="modal fade" id="editCCModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-simple modal-add-new-cc">
            <div class="modal-content p-3 p-md-5">
              <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                  <h3>Edit Card</h3>
                  <p>Edit your saved card details</p>
                </div>
                <form id="editCCForm" class="row g-3" onsubmit="return false">
                  <div class="col-12">
                    <label class="form-label w-100" for="modalEditCard">Card Number</label>
                    <div class="input-group input-group-merge">
                      <input id="modalEditCard" name="modalEditCard" class="form-control credit-card-mask-edit" type="text" placeholder="4356 3215 6548 7898" value="4356 3215 6548 7898" aria-describedby="modalEditCard2" />
                      <span class="input-group-text p-1 cursor-pointer" id="modalEditCard2"><span class="card-type-edit"></span></span>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="form-label" for="modalEditName">Name</label>
                    <input type="text" id="modalEditName" class="form-control" placeholder="John Doe" value="John Doe" />
                  </div>
                  <div class="col-6 col-md-3">
                    <label class="form-label" for="modalEditExpiryDate">Exp. Date</label>
                    <input type="text" id="modalEditExpiryDate" class="form-control expiry-date-mask-edit" placeholder="MM/YY" value="08/28" />
                  </div>
                  <div class="col-6 col-md-3">
                    <label class="form-label" for="modalEditCvv">CVV Code</label>
                    <div class="input-group input-group-merge">
                      <input type="text" id="modalEditCvv" class="form-control cvv-code-mask-edit" maxlength="3" placeholder="654" value="XXX" />
                      <span class="input-group-text cursor-pointer" id="modalEditCvv2"><i class="bx bx-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Card Verification Value"></i></span>
                    </div>
                  </div>
                  <div class="col-12">
                    <label class="switch">
                      <input type="checkbox" class="switch-input" />
                      <span class="switch-toggle-slider">
                        <span class="switch-on"></span>
                        <span class="switch-off"></span>
                      </span>
                      <span class="switch-label">Set as primary card</span>
                    </label>
                  </div>
                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary mt-3 me-1 me-sm-3">Submit</button>
                    <button type="reset" class="btn btn-label-secondary mt-3" data-bs-dismiss="modal" aria-label="Close">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> -->
        <!--/ Add New Credit Card Modal -->

        <!--/ Modal -->
      </div>
    </div>
  </div>
</div>

<div class="card mb-4" *ngIf="userType == 5">
  <!-- Billing Address -->
  <h5 class="card-header">Billing Address</h5>
  <div class="card-body">
    <form id="formAccountSettings" onsubmit="return false">
      <div class="row">
        <div class="col-sm-6 mb-3">
          <label for="companyName" class="form-label">Company Name</label>
          <input type="text" id="companyName" name="companyName" class="form-control" placeholder="ThemeSelection"  pInputText [(ngModel)]="billingDetails.billingName"/>
        </div>
        <div class="col-sm-6 mb-3">
          <label for="billingEmail" class="form-label">Billing Email</label>
          <input class="form-control" type="text" id="billingEmail" name="billingEmail" placeholder="john.doe@example.com" pInputText [(ngModel)]="billingDetails.billingEmail" />
        </div>
        <div class="col-sm-6 mb-3">
          <label for="taxId" class="form-label">Tax ID</label>
          <input type="text" id="taxId" name="taxId" class="form-control" placeholder="Enter Tax ID" pInputText [(ngModel)]="billingDetails.billingTaxID"/>
        </div>
        <div class="col-sm-6 mb-3">
          <label for="vatNumber" class="form-label">VAT Number</label>
          <input class="form-control" type="text" id="vatNumber" name="vatNumber" placeholder="Enter VAT Number" pInputText [(ngModel)]="billingDetails.billingVAT" />
        </div>
        <div class="col-sm-6 mb-3">
          <label for="mobileNumber" class="form-label">Mobile</label>
          <div class="input-group input-group-merge">
            <span class="input-group-text">US (+1)</span>
            <input class="form-control mobile-number" type="text" id="mobileNumber" name="mobileNumber" placeholder="202 555 0111" pInputText [(ngModel)]="billingDetails.billingMobileNo"  />
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <label for="country" class="form-label">Country</label>
          <select id="country" class="form-select select2" name="country">
            <option selected>USA</option>
            <option>Canada</option>
            <option>UK</option>
            <option>Germany</option>
            <option>France</option>
          </select>
        </div>
        <div class="col-12 mb-3">
          <label for="billingAddress" class="form-label">Billing Address</label>
          <input type="text" class="form-control" id="billingAddress" name="billingAddress" placeholder="Billing Address" pInputText [(ngModel)]="billingDetails.billingAddress" />
        </div>
        <div class="col-sm-6 mb-3">
          <label for="state" class="form-label">State</label>
          <input class="form-control" type="text" id="state" name="state" placeholder="California" pInputText [(ngModel)]="billingDetails.billingState" />
        </div>
        <div class="col-sm-6 mb-3">
          <label for="zipCode" class="form-label">Zip Code</label>
          <input type="text" class="form-control zip-code" id="zipCode" name="zipCode" placeholder="231465" maxlength="6" pInputText [(ngModel)]="billingDetails.billingZipCode" />
        </div>
      </div>
      <div class="mt-2">
        <button pButton type="button" label="Update" (click)="updateBillingDetails()" iconPos="right" [loading]="isLoading_updateBillingDetails"></button>

      </div>
    </form>
  </div>
  <!-- /Billing Address -->
</div>

<div class="card" *ngIf="userType == 5 || userType == 6">
  <!-- Billing History -->
  <h5 class="card-header border-bottom">Purchasing History</h5>
  <div class="card-datatable table-responsive">
    <table class="invoice-list-table table border-top">
      <thead>
        <tr>
          <th></th>
          <th>#ID</th>
          <th>Profile</th>
          <th>Total</th>
          <th class="text-truncate">Purchase Date</th>
          <th>Balance</th>
          <th>Purchased By</th>
          <th>Invoice Status</th>
          <th class="cell-fit">Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <!--/ Billing History -->
</div>


