<ul class="nav nav-pills flex-column flex-md-row mb-3">
    <!-- Page -->
    <li class="nav-item ListItem" *ngFor="let menuItem of menuList"
      (click)="loadTab(menuItem, menuItem.RouteName, $event)">
      <a href="#" [ngClass]="isActive(menuItem)">
        <i [ngClass]="menuItem.Icon"></i>
        {{ menuItem.Name }}
      </a>
    </li>
  </ul>

  <app-recruiter-active-jobs *ngIf="tabType == 'active-jobs'"></app-recruiter-active-jobs>
  <app-recruiter-inactive-jobs *ngIf="tabType == 'inactive-jobs'"></app-recruiter-inactive-jobs>



