<div id="divModalSupplementaryDataBody" class="modal-body">
  <div class="accordion" id="divAccordian12">
    <div id="divAccordianQList" class="card accordion-item">
      <h2 class="accordion-header" id="headingOne"> <button type="button" class="accordion-button collapsed"
          data-bs-toggle="collapse" data-bs-target="#divAccordian17" aria-expanded="false"> <i
            class="bx bx-question-mark"></i> &nbsp;Interview Questions </button> </h2>
      <div id="divAccordian17" class="accordion-collapse collapse" data-bs-parent="#divAccordian12" style="">
        <div class="accordion-body">
          <div id="divReviewContents" class="vert-scroll-200">
            <div id="divQuestionsSmall">
              <a class="list-group-item list-group-item-action">Where do you see
                yourself in next 5 years?<span class="float-end"><i
                    class="bx bx-play-circle bx-burst-hover"></i></span></a>
              <a class="list-group-item list-group-item-action">What is your motivation?<span class="float-end"><i
                    class="bx bx-play-circle bx-burst-hover"></i></span></a>
              <a class="list-group-item list-group-item-action">What is your education?<span class="float-end"><i
                    class="bx bx-play-circle bx-burst-hover"></i></span></a>
              <a class="list-group-item list-group-item-action active">What is your experience?<span
                  class="float-end"><i class="bx bx-play-circle bx-burst-hover"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><video controls="" style="width:100%;">
    <source src="../assets/videos/video1.webm" type="video/webm;codecs=&quot;vp8, vorbis&quot;">
  </video>
</div>
