<app-offer-letter-templates></app-offer-letter-templates>

<!-- <div class="card">
  <h5 class="card-header">Offer Letters Settings</h5>

  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="">Template Name</th>
          <th class="">Status</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="">
            <a href="">Offer of
              Employment with Benefit
              Details</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Offer of
              Employment without
              Benefit Details</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Offer of
              Employment with cash
              payment</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Offer of
              Employment for Third
              Party Contractor</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <button class="btn btn-sm btn-primary"><i class="la la-plus"></i> Add Template</button>
          </td>
        </tr>

      </tfoot>
    </table>

  </div>
</div> -->
<div class="card mt-3">
  <!-- Notifications -->
  <h5 class="card-header">Candidate Status</h5>

  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="">User Status</th>
          <th class="">Status</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="">
            <a href="">Waiting for Approval</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Follow-up</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Waiting for callback</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Did not Respond</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Out of Country</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td class="">
            <a href="">Cannot Relocate</a>
          </td>
          <td class=""><span class="badge bg-label-primary">Active</span>
          </td>
          <td class="">
            <button class="btn btn-sm btn-primary"><i class="la la-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-primary"><i class="la la-close"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <button class="btn btn-sm btn-primary"><i class="la la-plus"></i> Add Template</button>
          </td>
        </tr>

      </tfoot>
    </table>

  </div>
</div>

