/* @import url("../../../../../testing.css"); */

@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* @import url("../../../../assets/vendor/fonts/boxicons.css");
@import url("../../../../assets/vendor/fonts/fontawesome.css"); */
/* @import url("../../../../assets/vendor/fonts/flag-icons.css");
@import url("../../../../assets/vendor/css/rtl/core.css");
@import url("../../../../assets/vendor/css/rtl/theme-default.css");
@import url("../../../../assets/css/demo.css");
@import url("../../../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css");
@import url("../../../../assets/vendor/libs/bootstrap-select/bootstrap-select.css");
@import url("../../../../assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css");
@import url("../../../../assets/vendor/libs/jquery-timepicker/jquery-timepicker.css");
@import url("../../../../assets/vendor/css/jquery.multiselect.css");
@import url("../../../../assets/vendor/libs/fullcalendar/fullcalendar.css");
@import url("../../../../assets/vendor/libs/flatpickr/flatpickr.css");
@import url("../../../../assets/vendor/libs/sweetalert2/sweetalert2.css");
@import url("../../../../assets/vendor/libs/tagify/tagify.css");
@import url("../../../../assets/vendor/css/pages/app-calendar-availability.css");  */


table, th, td {
  border: 0.3px solid #c7c5c5;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

.fc .fc-view-harness .fc-daygrid-event-harness .fc-event {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

.light-style .fc-event-success:not(.fc-list-event) {
  background-color: #e8fadf !important;
  color: #71dd37 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 2px;
}

.light-style .fc-event-success:not(.fc-list-event) {
  border-color: rgba(122,189,87, 0.15);
}

.fc .fc-daygrid-event {
  z-index: 6;
  margin-top: 1px;
}