<div class="row">
        <div class="col-12">
            <div class="formgroup">
                <label class="form-label" for="">TITLE:</label>
                <input type="text" class="form-control" id="" placeholder="Enter title" [(ngModel)] = "listItem.title" name="title" required>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="formgroup">
                <label class="form-label" for="">DESCRIPTION:</label>
                <input type="text" class="form-control" id="" placeholder="Enter description" [(ngModel)] = "listItem.description" name="description" required>
            </div>
        </div> 
        
        <div class="col-12 mt-2">
            <div class="formgroup">
                <label class="form-label" for="">ORDERNO:</label>
                <input type="number" class="form-control" id="" placeholder="Enter order number" [(ngModel)] = "listItem.orderNo" name="orderNo" required>
            </div>
        </div>
    <div class="row mt-3">
        <div class="d-flex justify-content-center">
           <button  type="button" class="btn btn-primary" [disabled] = "!listItem.title || !listItem.description || !listItem.orderNo" (click) = "addListItem()">Save</button>
            <button type="button" class="ml-2 btn btn-secondary" (click) = "onCancel()" >Cancel</button>
        </div>
    </div>
</div>


