.cancel
{
    color:white !important;
}
.cancel :hover
{
  color:white !important;
}
.form-check {
    padding-left: 1.5em !important;
}
.form-check .form-check-input {
    margin-left: -2em !important;
}