<div class="modal-body">
  You can share the link given below to anyone so that they can view your online profile:
  <input type="text" class="form-control" readonly value="https://profile.eliteteam.com/N8sj2i" />
  <button id="btnProcseed" type="button" class="btn btn-primary mt-1">Copy Link</button>

  <br>
  <hr class="">
  <br>

  You can share this link with the email addresses given below:
  <textarea class="form-control" placeholder="Enter email addresses, one per line" rows="3"></textarea>
  <button id="btnProceed" type="button" class="btn btn-primary mt-1">Email Link</button>

</div>
