.recruiter-calendar .fc .fc-toolbar-title {
    font-size: 0.75em !important;
}



.rec-tooltip .rec-tooltip-text {
    background: rgba(97, 97, 97, 0.9) !important;
    color: #ffffff  !important;
    padding: 0.5rem !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    border-radius: 4px !important;
  }
  .rec-tooltip.rec-tooltip-right .rec-tooltip-arrow {
    border-right-color: rgba(97, 97, 97, 0.9) !important;
  }
  .rec-tooltip.rec-tooltip-left .rec-tooltip-arrow {
    border-left-color: rgba(97, 97, 97, 0.9) !important;
  }
  .rec-tooltip.rec-tooltip-top .rec-tooltip-arrow {
    border-top-color: rgba(97, 97, 97, 0.9) !important;
  }
  .rec-tooltip.rec-tooltip-bottom .rec-tooltip-arrow {
    border-bottom-color: rgba(97, 97, 97, 0.9) !important;
  }
  