
<div class="row" >
  <div class="col-1">

  </div>
  <div class="col-10">
    <div class="col-12" *ngIf="companies.length > 0">
      <table class="table table-bordered mb-3">
          <thead>
            <tr>
              <th>Client</th>
              <th class="">Recruiters (Assigned Jobs)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of companies">
              <td>
                <div class="d-flex flex-row gap-2">
                  <div class="avatar me-2">
                    <!-- <img src="../assets/img/icons/brands/offer_company_logo.png" alt="Avatar" class="rounded-circle"> -->
                    <img src="{{item.logoFileName}}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div class="d-flex flex-column">
                    <a href="#">{{item.companyName}}</a>
                    <span class="small text-muted">{{item.industry}} | <span class="text-muted"><i class="bx bxs-briefcase bx-xs"></i> x {{item.jobs}}</span> </span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <p-dropdown (onChange)="onchange($event,item.companyID)"  [options]="recruiters" placeholder="Select a Recruiter"  optionLabel="recruiter" ></p-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  </div>
  <div class="col-1">

  </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="SaveReassignment()"
      >
        Save Changes
      </button>
    </div>
    <div class="col-md-8" *ngIf="noRecord">
      <h2>Record Not Found!</h2>
    </div>
</div>
